.AddButton,
.RemoveButton {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  cursor: pointer;
}

.AddButton:hover,
.RemoveButton:hover {
  opacity: 1;
}

.AddButton {
  right: 0px;
  bottom: 0px;
}

.RemoveButton {
  left: 0px;
  bottom: 0px;
}

@media (min-width: 1100px) and (min-height: 650px) {
  .AddButton,
  .RemoveButton {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1450px) and (min-height: 725px) {
  .AddButton,
  .RemoveButton {
    width: 65px;
    height: 65px;
  }
}
