.SummaryElement {
  width: 80%;
  height: 18%;
  border: 2px solid #cbcfd6;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.label {
  width: 50%;
  height: 100%;
  font-family: 'Kalam', cursive;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
  line-height: 1;
}

.cost {
  width: 20%;
  height: 100%;
  font-family: 'Kalam', cursive;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
}

@media (min-height: 500px) {
  .SummaryElement {
    height: 10%;
  }
}

@media (min-width: 825px) and (min-height: 450px) {
  .label {
    font-size: 20px;
  }
  .cost {
    font-size: 20px;
  }
}

@media (min-height: 950px) {
  .SummaryElement {
    height: 7%;
  }
}
